# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.Packages
.modules.bak
.metadata
*.tmp
*.lastbuildstate
temp_*
*.lock

# VS Code directory
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages

# Android related
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/**/GeneratedPluginRegistrant.java

# iOS/Xcode related
ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*synced*
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/

# Symbolication & Obfuscation related
app.*.symbols
app.*.map.json
